@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: darkgray;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Ribeye", cursive, sans-serif;
  font-weight: 300;

  /*to position footer at bottom */
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #000000;
  color: #f14e0d;
  font-weight: 300;
  letter-spacing: 2px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
footer .container .section {
  margin-right: 30px;
}
footer .container .about-us {
  width: 40%;
}

footer .container .social-ico {
  list-style: none;
  margin-top: 20px;
}
footer .container .social-ico li {
  display: inline-flex;
  margin-right: 10px;
}
footer .container .social-ico img {
  width: 35px;
  cursor: pointer;
  transition: 0.2s;
}
footer .container .social-ico img:hover {
  background: dodgerblue;
  border-radius: 50%;
  transform: translateY(-3px) rotate(9deg);
}
footer .container .q-links {
  position: relative;
  width: 25%;
}
footer .q-links .ul-links {
  list-style: none;
  margin-top: 20px;
}
footer .q-links .ul-links li {
  margin-bottom: 20px;
}
footer .q-links .ul-links li a {
  color: whitesmoke;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s;
}

footer .q-links .ul-links:hover li a {
  color: rgba(219, 6, 6, 0.89);
}
footer .q-links .ul-links li:hover a {
  color: springgreen;
}
footer .container .contact-us {
  position: relative;
  width: calc(35% -60px);
  margin-right: 0 !important;
}
footer .container .contact-us .ul-contact {
  margin-top: 20px;
  list-style: none;
}
footer .container .contact-us .ul-contact li {
  margin-bottom: 15px;
}
footer .container .contact-us .ul-contact li img {
  width: 35px;
}
footer .container .contact-us .ul-contact li > * {
  vertical-align: middle;
}
footer .h2-title {
  position: relative;
  font-weight: 500;
  color: #f5f5f5;
  margin-bottom: 15px;
}
footer .container .h2-title::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 130px;
  height: 1px;
  background: #f14e0d;
}
.q-links .q-h2 {
  color: #f14e0d;
}
.copyright {
  color: whitesmoke;
  font-size: 20px;
  padding: 20px 100px;
  background: #000000;
  width: 100%;
  text-align: center;
}
@media (max-width: 990px) {
  footer {
    padding: 40px;
  }
  footer .container {
    flex-flow: column wrap;
  }
  .footer .container .section {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container .section.about-us,
  .q-links,
  .contact-us {
    width: 100%;
  }
}
