*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  font-family: "Courier New", Courier, monospace;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;
}
.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px lightgreen;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  cursor: pointer;
}
.card .card-info img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.card-info h2 {
  text-align: center;
  padding: 1rem;
}
.card-info p {
  margin-bottom: 1rem;
  padding: 0 1rem;
  line-height: 1.5;
}
.card button {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  border: 4px solid lightgreen;
  border-radius: 3px;
  background: transparent;
  transition: background 200ms ease-in, color 200ms ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}
.card button:hover {
  background: #5a959d;
  color: whitesmoke;
  border-color: whitesmoke;
}
