* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  height: 40vh;
  background: red;
  text-align: center;
}
main {
  background: powderblue;
  text-align: center;
  flex: 1 0 auto;
}
footer {
  height: 100px;
  background: plum;
  text-align: center;
}
