html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background: rgb(35, 38, 42);
}
.wrapper {
  /* width: 100vw; */
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "nav nav nav nav                nav nav nav nav                                   nav nav nav nav"
    "sbar1 sbar1 mini mini           mini mini mini mini                          mini mini sbar2 sbar2"
    "sbar1 sbar1 content content      content content content content        content content sbar2 sbar2"
    "sbar1 sbar1 content content      content content content content        content content sbar2 sbar2"
    "sbar1 sbar1 content content      content content content content        content content sbar2 sbar2"
    "footer footer footer footer      footer footer footer footer          footer footer footer footer";
  /* 3 columns and 6 rows */
}
[class^="box-"] {
  display: grid;
  place-items: center;
  border: 2px solid lawngreen;
}
.box-1 {
  grid-area: nav;
}
.box-2 {
  grid-area: sbar1;
}
.box-3 {
  grid-area: mini;
}
.box-4 {
  grid-area: sbar2;
}
.box-5 {
  grid-area: content;
}
.box-6 {
  grid-area: footer;
}

// Media Query
$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "pc": 1440px,
);
@mixin query($screen) {
  @each $key, $value in $breakpoints {
    @if ($screen == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}

@include query(tablet) {
  .wrapper {
    grid-template-areas:
      "nav nav nav nav                  nav nav nav nav                        nav nav nav nav"
      "mini mini mini mini              mini mini mini mini                    mini mini mini mini"
      "sbar1 sbar1 content content      content content content content        content content content content"
      "sbar1 sbar1 content content      content content content content        content content content content"
      "sbar1 sbar1 content content      content content content content        content content content content "
      "sbar1 sbar1 content content      content content content content        content content content content "
      "sbar2 sbar2 footer  footer       footer footer footer footer            footer footer footer footer";
  }
  [class^="box-"] {
    border: 2px solid whitesmoke;
  }
}
@include query(mobile) {
  .wrapper {
    grid-template-areas:
      "nav nav nav nav                nav nav nav nav                                   nav nav nav nav"
      "mini mini mini mini           mini mini mini mini                          mini mini mini mini"
      "content content content content      content content content content        content content content content"
      "content content content content      content content content content        content content content content"
      "sbar1 sbar1 sbar1 sbar1      sbar1 sbar1 sbar1 sbar1        sbar1 sbar1 sbar1 sbar1 "
      "sbar2 sbar2 sbar2 sbar2        sbar2 sbar2 sbar2 sbar2           sbar2 sbar2 sbar2 sbar2"
      "footer footer footer footer      footer footer footer footer          footer footer footer footer";
  }
  [class^="box-"] {
    border: 2px solid coral;
  }
}
