* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #000000;
  color: whitesmoke;
  width: 100%;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3em;
}
.navbar ul li {
  padding-right: 2em;
}
.navbar ul li:first-child {
  font-size: 2em;
  margin-right: auto;
  margin-left: 2em;
}
.navbar ul li a {
  font-size: 18px;
  text-decoration: none;
  color: wheat;
  position: relative;
}
.navbar ul li a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 0.2em;
  bottom: -0.5em;
  background-color: tomato;
  transition: all 250ms ease-in-out;
}
.navbar ul li a:hover::after {
  width: 100%;
}
.navbar ul li a:hover {
  color: hotpink;
}
